.dinpf {
  width: 50%;
  margin: 20px auto;
  background-color: #f0f8ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

h3 {
  color: #008080;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  width: 200px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #008080;
  background-color: #f0f8ff;
  font-size: 18px;
  font-weight: bold;
}

input[type="number"]:focus,
select:focus {
  border-bottom: 2px solid #4caf50;
}

button[type="submit"] {
  background-color: #008080;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #4caf50;
}

.result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #008080;
}
